@(comments: List[Comment])
@import helper._
@main("Ajax Comment") {

<h2>Angular Todo</h2>
<div ng-controller="TodoCtrl">

	<div class="container" style="margin-top: 20px;">
		<div class="row">
			<div class="col-md-4" style="border: solid 1px #eee;">
				<div ng-repeat="guest in guests">{{guest.Name}}</div>
				<select ng-model="category" ng-options="c.value as c.name for c in categories"></select>
			</div>
			<div class="col-md-8" style="border: solid 1px #eee;">
				now selected {{ category }}
			</div>
		</div>
	</div>
	
    <span>{{remaining()}} of {{todos.length}} remaining</span>
	[<a href="" ng-click="archive()">archive</a>]
	<ul class="unstyled">
		<li ng-repeat="todo in todos">
			<!--通常表示するビュー-->
			<div ng-show="!todo.editing">
				<span>{{$index + 1}} 行</span>
				<input type="checkbox" ng-model="todo.done">
				<span class="done-{{todo.done}}">
				</span>{{todo.codeId}} : {{todo.text}}
				[<a href=""ng-click="editTodo(todo.id,todo.codeId)">edit</a>]
				[<a href=""ng-click="deleteTodo(todo.id,todo.codeId)">delete</a>]
			</div>
			<!--編集時に表示するビュー-->
			<div ng-show="todo.editing">
				<input type="text" ng-model="todo.text">
				<input type="button" ng-click="updateTodo(todo.id,todo.codeId)" value="更新Finish">
			</div>
		</li>
	</ul>
	<!--name を指定するとテンプレート内でアクセスできる-->
	<form name="form" ng-submit="addTodo()">
		<input type="text" ng-model="todoName.name" size="25" id="name" name="name" required><br /> <input type="text" ng-model="todoText" size="30" placeholder="add new todo here" required>
		<!--todoText が空のときはボタンを押せないようにする-->
		<input class="btn-primary" type="submit" value="追加add" ng-disabled="form.$invalid">
	</form>
	<a herf="/nextPage">次へ</a>
	<form action="/nextPage" method="POST">

		<input id="submit" type="submit" value="nextページ">

	</form>
</div>

}
